<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getOperationDate()}">NAME</p>
<p th:text="${person.getCito()}">NAME</p>
<p th:text="${person.getTimeStart()}">NAME</p>
<p th:text="${person.getTimeFinish()}">NAME</p>
<p th:text="${person.getName()}">NAME</p>
<p th:text="${person.getRegion()}">NAME</p>
<p th:text="${person.getBirthday()}">NAME</p>
<p th:text="${person.getDepartment()}">NAME</p>
<p th:text="${person.getHistoryNumber()}">NAME</p>
<p th:text="${person.getTimeDose()}">NAME</p>
<p th:text="${person.getDose()}">NAME</p>
<p th:text="${person.getStents()}">NAME</p>
<p th:text="${person.getElevation()}">NAME</p>
<br/>

<hr/>
    <!--<p th:each="operation : ${person.operationList}">
        <span th:text="${operation.id}">ID</span>
        <span th:text="${operation.name}">OPERATION NAME</span>
        <span th:text="${operation.type}">TYPE</span>
    </p>-->

<br/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>




</body>
</html>